    <% @servico.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger" role="alert">
        <%= msg %>
      </div>
    <% end %>

    <%= form_for @servico do |form|  %>
      <div class="row">
        <div class="col-sm-8">
          <div class="form-group">
            <%= form.label :nome %> 
            <%= form.text_field :nome, class:"form-control" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <%= form.label :cidade %>             
           <%= form.select :cidade,  
           [
             'Brasília', 
             'Brazlândia', 
             'Ceilândia',
             'Cruzeiro',
             'Fercal',
             'Gama',
             'Guará',
             'Lago Norte',
             'Lago Sul',
             'Núcleo Bandeirante',
             'Paranoá',
             'Planaltina',
             'Recanto das Emas',
             'Riacho Fundo I',
             'Riacho Fundo II',
             'Samambaia',
             'Santa Maria',
             'São Sebastião',
             'Sobradinho',
             'Sol Nascente',
             'Taguatinga'
            ] %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8">
          <div class="form-group">
            <%= form.label :descricao %> 
            <%= form.text_area :descricao, class:"form-control", rows:4 %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8">
          <div class="form-group">
            <%= form.label :localentrega %> 
            <%= form.text_field :localentrega, class:"form-control" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-2">
          <div class="form-group">
            <%= form.label :categoria %>
            <%= form.collection_select :grupo_id, @grupos, :id, :nome, {}, 
            class:"form-control" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <%= form.label :telefone %> 
            <%= form.telephone_field :telefone, class:"form-control" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <%= form.label :celular %> 
            <%= form.telephone_field :celular, class:"form-control" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <%= form.label :email %> 
            <%= form.text_field :email, class:"form-control" %>
          </div>
        </div>
      </div>
      
      <%= form.submit texto_da_acao, class:"btn btn-primary" %>
    <% end %>
