<p id="notice"><%= notice %></p>

<h4>Bem vindo (a) escolha a categoria de serviço que precisa no momento</h4>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <!--<th>Nome</th>
      <th colspan="3"></th>-->
    </tr>
  </thead>

  <tbody>
    <% @grupos.each do |grupo| %>
      <tr>
        <td><%= link_to grupo.nome, grupo %></td>
        <!--<td><%= link_to 'Ver Serviços', grupo, class:'btn btn-default' %></td>
        <td><%= link_to 'Editar', edit_grupo_path(grupo), class:'btn btn-default' %></td>
        <td><%= link_to 'Deletar', grupo, method: :delete, class:'btn btn-default', 
        data: { confirm: 'Tem certeza que deseja excluir ?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!--<%= link_to 'Nova Categoria', new_grupo_path, class:'btn btn-default' %>-->
